<ion-header>
  <ion-toolbar>
    <ion-title>
      Prova
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>
          Led 1
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button color="primary" fill="outline" (click)="btnLed1()">
          <ion-icon name="power"></ion-icon>
        </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
        <ion-card-title>
          Led 2
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button color="primary" fill="outline" (click)="btnLed2()">
          <ion-icon name="power"></ion-icon>
        </ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
