.card-controller
{
    i
    {
        font-size: 35px;
    }
    p
    {
        font-size: 18px;
        font-weight: 700;
    }
    span
    {
        font-size: 10px;
    }
}


.card-device
{
    i
    {
        font-size: 35px;
    }
    
}

.device-off
{
    color: rgba(0, 0, 0, 0.205);
}

.ios.card-add
{
    ion-icon
    {
        font-size: 60px;
        height: 157px;
    }
}

.md.card-add
{
    ion-icon
    {
        font-size: 40px;
        height: 157px;
    }
}