<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs=6 sizeSm=4 *ngFor="let item of loadedConfig.leds">
        <ion-card class="ion-text-center card-disp">
          <ion-card-header>
            <i class="fas fa-plug"></i>
          </ion-card-header >
          <ion-card-content>
            <p>{{ item.id }}</p>
            <ion-button [color]="item.stato? 'success':'danger'" fill="outline"   slot="icon-only" (click)="onClickSwitch(item.id)">
              <ion-icon name="power"   ></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-button (click)="getconfig()">
    <ion-icon name="sync"></ion-icon>
  </ion-button>
  <ion-button (click)="addLed()">
    <ion-icon name="add"></ion-icon>
  </ion-button> -->
</ion-content>
