

.card-presa
{
    font-size: 15px;
    i
    {
        font-size: 40px;
    }
}


.md.card-add 
{
    ion-icon
    {
        font-size: 40px;
        height: 132px;
    }
}

.ios.card-add 
{
    ion-icon
    {
        font-size: 60px;
        height: 168px;
    }
}