<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestione Dispositivi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" close-duration="300ms" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="ion-align-items-stretch">
      <ion-col offsetXs=2 sizeXs=8 offsetSm=0 sizeSm=6 *ngFor="let item of loadedConfig.leds">
        <ion-card class="ion-text-center card-disp">
          <ion-card-header>
            <ion-grid>
              <ion-row class="ion-align-items-baseline">            
                <ion-col size="3" offset="3">
                  <i class="fas fa-plug"></i>
                </ion-col>
                <ion-col size="3" class="ion-no-padding">
                  <ion-label>
                    <p >{{ item.id }}</p>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header >
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <ion-toggle [checked]="item.stato" [disabled]="item.busy" (ionChange)="onClickSwitch(item.id)"></ion-toggle>
                  <ion-button (click)="onDeletingLed(item.id)" fill="outline" expand="block">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col offsetXs="1" sizeXs="10" sizeSm="6">
        <ion-card button="true" class=" card-disp card-add" (click)="presentModal()">
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center">
              <ion-icon name="add"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
