.cardTemp ion-col>i
{
    font-size: 40px;
}

.cardTemp
{
    background-color: white;
}
.cardTemp h1
{
    font-size: 30px;

}

.cardSet i
{
    font-size: 20px;
}
.cardSet ion-card
{
    padding-top: 5px;
    padding-bottom:5px;
}
.cardSet
{
     background-color: white;
}

.card
{
    background-color: rgba(255, 255, 255, 0.459);
}

.cardHeatingOn
{
    color: black;
}

.cardHeatingOff
{
    color: rgba(0, 0, 0, 0.164);
}

.cardAdd ion-icon
{
    font-size: 30px;
}

