.card-controller
{
    p
    {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18px;
        font-weight: 500;

    }

    ion-icon
    {
        font-size: 35px;
    }
}

.card-device
{
    p
    {
        margin: 0px;
        font-size: 18px;
    }
    i
    {
        font-size: 35px;
    }
}