<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestione Timers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" close-duration="300ms" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-grid>
  <ion-row>
    <ion-col offsetXs="1" sizeXs="10" offsetSm="0" sizeSm="6" sizeMd="4">
      <ion-card class="std-card" *ngFor="let item of loadedConfig.temporizzatori">
        <ion-grid>
          <ion-row >
            <ion-col size="7">
              <ion-card class="card-controller ion-no-margin">
                <ion-grid>
                  <ion-row>
                    <ion-col size="5" class="ion-align-self-center">
                      <ion-icon name="time"></ion-icon>
                    </ion-col>
                    <ion-col size="7">
                      <p>{{ item.hacc }}:{{ item.minacc }}</p>
                      <p>{{ item.hspegn }}:{{ item.minspegn }}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
            <ion-col size="5">
              <ion-card class="card-device ion-no-margin" [ngClass]="findLed(item.idled).stato? '' : 'device-off'">
                <ion-grid>
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <p><i class="fas fa-plug"></i> {{ item.idled }}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button fill="outline" expand="block" [color]="item.state? 'primary': 'medium'" (click)="onSwitch(item.id)">
                <ion-icon name="power"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button fill="outline" expand="block"  (click)="onDeleteElement(item.id)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
    <ion-col offsetXs="1" sizeXs="10" offsetSm="0" sizeSm="6" sizeMd="4">
      <ion-card class="std-card card-add" button (click)="presentModal()">
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <ion-icon name="add"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
